# pyfoot configuration
# parsed by python 2.7's ConfigParser module
# http://docs.python.org/library/configparser.html

# in order for !party to work, you must get an api key from bing and set it as bing_app_id

[DEFAULT]
debug = 0

port = 6667
nick = pyfoot
greet = woof
username = pyfoot
hostname = pyfoot
servername = pyfoot
realname = pyfoot
ctcp_version = pyfoot-hg
blacklist = people,you,want,to,ignore
say_blacklist = nickserv,hostserv,chanserv
ssl = false

# modules to exclude per-channel in '#channel module,#channel module' format
# it is recommended you do this at the [network] level, but you should still have an empty one here as a fallback
exclude = 

# what directory are you keeping resources (such as hhg.txt or anything to be interpreted by rantext)
# must have trailing slash
content_dir = ~/.pyfoot/

# the character used to designate commands
comchar = !

# which modules (from ./modules/) to load
modules = woof,party,html_title,konata,ctcp_version,say,rantext,mal,ddg

# MODULE-SPECIFIC SETTINGS

# a regular expression that triggers a message
woof_trigger = woo+f|good dog|bad dog|good boy|treat|\btrench|\bmeow\b|\bbark\b|\barf\b|\bfetch\b|\bmoo+\b|\bqua+ck\b|\bcluck\b|\bwalk\b|\bwalkie\b|\bwalkies\b|\bho+nk\b|\bwo+nk\b|\bsqua+wk\b|\bca+w\b|\boink\b|\bnya|\bwan\b|\bnyro|\bgeso|\bneigh\b|\bcollar\b

# the message triggered
woof = woof

# what are you doing with rantext? comma-seperated.
rantext_sources = example # this would use <content_dir>/example.txt and !example

# !party translation language and app id
transvia = ja
bing_app_id = get_one_from_msn

# web outputs (currently only used by !party, but open to extention)
web_directory = /home/nivi/www/ypu/
web_url = http://you.possessed.us/

# mal userdata (not yet implemented)
mal_userfile = ~/.pyfoot/mal

# you specify the network at runtime
# per-network settings reside below

[network]
address = irc.network.org
channels = #examplechannel,#hats
nickserv_pass = thisisanickservpass
exclude = #channel module,#anotherchannel anothermodule
